[submodule "modules/devkit-core"]
	path = cache/default/modules
	url = https://github.com/hashcube/devkit-core.git
[submodule "devkit-core"]
	path = devkit-core
	url = https://github.com/hashcube/devkit-core.git
